.i18n-link {
  display: none
}

/* Hide duplicated section index links in the left navigation:
   top-level "Admin guide" and "User guide" each have an index entry as
   the first child; hide those entries in all contexts. */
.md-sidebar--primary input#__nav_3 ~ nav.md-nav > ul.md-nav__list > li.md-nav__item:first-child,
.md-sidebar--primary input#__nav_4 ~ nav.md-nav > ul.md-nav__list > li.md-nav__item:first-child {
  display: none !important;
}
